<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/page-header.ejs %>
<% include ../partials/nav.ejs %>
<div class="m-t-5-6em contact">
    <div class="banner contact">
        <div class="title extra-bold"><%= title %></div>
        <div class="paragraph text-center"><%- text %></div>
    </div>
    <div id="form" class="text-center">
        <div class="fields">
            <div class="first col-sm-7">
                <div class="row">
                    <div class="col-sm-4 field">
                        <label class="regular"><%= name %></label>
                    </div>
                    <div class="col-sm-8">
                        <input class="regular" type="text" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 field">
                        <label class="regular"><%= company %></label>
                    </div>
                    <div class="col-sm-8">
                        <input class="regular" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 field">
                        <label class="regular"><%= position %></label>
                    </div>
                    <div class="col-sm-8">
                        <input class="regular" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 field">
                        <label class="regular"><%= phone %></label>
                    </div>
                    <div class="col-sm-8">
                        <input class="regular" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 field">
                        <label class="regular"><%= cellphone %></label>
                    </div>
                    <div class="col-sm-8">
                        <input class="regular" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 field">
                        <label class="regular"><%= mail %></label>
                    </div>
                    <div class="col-sm-8">
                        <input type="email" required>
                    </div>
                </div>
            </div>
            <div class="message col-sm-5">
                <div class="field">
                    <label class="regular"><%= comments %></label>
                </div>
                <div>
                    <textarea required rows="4"></textarea>
                </div>
                <div class="message-notification error-message hidden">
                    <br/>
                    <i class="fa fa-times error-color" aria-hidden="true"></i>
                    <span class="label" key="message-notification-failed"></span>
                </div>
                <div class="success-message success-message-contactanos hidden">
                    <br/>
                    <i class="fa fa-check success-color" aria-hidden="true"></i>
                    <span class="label" key="message-notification"></span>
                </div>
            </div>
        </div>
        <div class="button text-center">
            <button type="submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i>"
                    class="btn bold"><%= send %></button>
        </div>
    </div>
</div>
<% include ../partials/page-footer.ejs %>
</body>

</html>